################# BACKEND #################
BACKEND_PORT=****
BACKEND_JWT_SECRET=****
BACKEND_SYNCHRONIZE_DATABASE=false # true

################# FRONTEND #################
FRONTEND_PORT=****

################# DATABASE #################
DATABASE_PORT=**** # Apenas para expor a porta fora do container (caso haja conflito com outros container da máquina)
DATABASE_USER=****
DATABASE_NAME=****
DATABASE_PASSWORD=****
