version: "3.8"

services:
  database:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "${DATABASE_PORT}:3306"
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD || exit 1" ]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: unless-stopped
    environment:
      BACKEND_DATABASE_PORT: 3306
      BACKEND_PORT: ${BACKEND_PORT}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_NAME: ${DATABASE_NAME}
      BACKEND_DATABASE_HOST: "database"
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      BACKEND_JWT_SECRET: ${BACKEND_JWT_SECRET}
      BACKEND_SYNCHRONIZE_DATABASE: ${BACKEND_SYNCHRONIZE_DATABASE}
      DATABASE_INITIAL_EMAIL_ADMIN: ${DATABASE_INITIAL_EMAIL_ADMIN}
      DATABASE_INITIAL_PASSWORD_ADMIN: ${DATABASE_INITIAL_PASSWORD_ADMIN}
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    volumes:
      - ./backend/src/administration-by-user/images/storage:/app/src/administration-by-user/images/storage

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        NEXT_PUBLIC_FRONTEND_PORT: ${NEXT_PUBLIC_FRONTEND_PORT}
        NEXT_PUBLIC_BACKEND_BASE_URL: ${NEXT_PUBLIC_BACKEND_BASE_URL}
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "${NEXT_PUBLIC_FRONTEND_PORT}:80"

volumes:
  db_data:
